{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 120,
  "braceStyle": "1tbs",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": [
    "@prettier/plugin-php",
    "prettier-plugin-svelte"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    }
  ]
}
